<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.timestocome.twittercloud</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/ljcobb/anaconda/bin/python</string>
    <string>/Users/ljcobb/backgroundPrograms/TwitterCloud/CollectAndProcessTweets.py</string>
  </array>

  <key>Nice</key>
  <integer>1</integer>

  <key>StartCalendarInterval</key>
  <dict>
  <key>Hour</key>
  <integer>6</integer>
  <key>Minute</key>
  <integer>15</integer>
  </dict>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>/Users/ljcobb/backgroundPrograms/TwitterCloud/TwitterBot.err</string>

  <key>StandardOutPath</key>
  <string>/Users/ljcobb/backgroundPrograms/TwitterCloud/TwitterBot.out</string>
</dict>
</plist>
